main {
    background-image: url('../image/96109-minimalism-minimalist-artist-artwork-digital-art-hd-4k-computer.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.contato {
    display: flex;
    font-size: 52px;
    color: #DCDCDC;
    margin-left: 8px;
    padding-top: 14px;
}

.center {
    padding: 120px 4px;

}

.center ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.social .menuLateral {
    display: block;
    flex-direction: column;
    position: absolute;
    margin-left: 121px;
    

}

.social ul li a i{
    align-items: center;
    color: #DCDCDC;
    cursor: pointer;
    font-size: 32px;
    margin-top: 8px;
    margin-left: 4px;
    padding-top: 12px;

}

.qd1 {
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: #DCDCDC;
   
    border-radius: 5px;
}

.qd1 i{
    font-size: 24px;
    color: #2F4F4F;
}

.qd1 i {
    margin-top: 8px;
    margin-left: 15px;
    
}

.qd2 {
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: #DCDCDC;
    cursor: pointer;
    border-radius: 5px;
}

.qd2 i{
    font-size: 24px;
    color: #2F4F4F;
    margin-top: 8px;
    margin-left: 15px;
}

.design {
    display: flex;
    flex-direction: column;
    

}

.design h1{
    font-size: 32px;
    color: #DCDCDC;
    font-weight: 600;
    padding: 6px;
    
}

.design p {
    font-size: 16px;
    color: #DCDCDC;
    margin-left: 12px;

}